.ac-render{
	position: absolute;
	width: 300px;
	background-color: #fff;
	border: 1px solid #666;
	-moz-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
	-webkit-box-shadow: 2px 2px 2px rgba(102, 102, 102, .4);
}
.ac-row {
  position: relative;
  padding: .4em;
  cursor: pointer;
}

.ac-highlighted {
  font-weight: bold;
  color:green;
}

.ac-active {
  background-color: #b2b4bf;
}